body {
  /*height: 100vh;*/
}
nav {
  background: lightblue;
  text-transform: uppercase;
  font-weight: bold;
  height: 7vh;

  position: fixed;
}
nav li{
  display: block;
  margin: 0;
  padding: 1em .25em;
}



nav li a:hover {
  padding: 0 5px 3px 0;
  border-bottom: 3px solid #222;
}

nav ul {
  margin: 0;
  font-size: 110%;
    line-height: 17px;
    letter-spacing: 1px;
}

nav li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  transition:all .1s;
}
h4{
  display: inline;
}

main {
  /*height: 88vh;*/

}

a:hover {
  color: #222;
}
.foot {
  margin: 0em .5em;
   color: grey;
   height: 5vh;
}

h5{
  padding-right: .25em;
}

h2 {
  padding-left: .5em;

}

h2, h5 {
  margin-bottom: 4rem;
}

/*.jumbo {
  display: flex;
  align-items: flex-end;
  /*height: 100%;*/
/*}*/



.cast {
  background: url("/images/cast.jpg"), no-repeat center center;
  background-color: #ccc;
  background-blend-mode: multiply;
  background-size: cover;
}

.logo {
  padding-left: 2em;
}

.frame {

  width: 80%;
  height: 100%;
  z-index: .25;
}

.frame img {
  width: 100%;
  overflow: hidden;
}
.five.columns {
  margin-top: 5em;
  overflow: hidden;
  color:#aaa;
  z-index: .25;
}
